* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./kebab-photo.jpeg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "EB Garamond", serif;
  color: white;
  text-shadow: 1px 1px 3px black, -1px -1px 3px black;
}

header {
  background-color: hsla(10, 50%, 5%, 0.5);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

h1 {
  text-align: center;
  padding: 10px;
  font-family: "Cabin Sketch", cursive;
  color: white;
  border: 1px solid green;
}

nav ul {
  display: flex;
  flex-direction: row;
  border: 1px solid red;
}
li {
  padding: 0 10px;
  list-style-type: none;
  border: 1px solid blue;
}

#copy-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#headline {
  font-size: 60px;
  font-family: "Cabin Sketch", cursive;
  text-align: center;
}

#hype-container {
  display: flex;
  flex-direction: row;
}

#hype-container p {
  margin: 20px;
  width: 300px;
  display: flex;
  justify-content: center;
  background-color: hsla(10, 15%, 15%, 0.25);
  border-radius: 50px;
  padding: 1px;
}
